name: ci

permissions:
  contents: read

on:
  push:
    branches:
      - main
      - ci-setup
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          persist-credentials: false
      - name: Build
        run: make
      - name: Check
        run: ./dsr-trim --help
